<!-- app.component.html -->
<h1>Routing</h1>
  <div><a routerLink="/home">Home</a></div>
 <div> <a routerLink="/login/1">Login1</a></div>
 <div> <a routerLink="/login/2">Login2</a></div>
 <div> <a routerLink="/login/3">Login3</a></div>
 <router-outlet></router-outlet>


<div class="todo-list">
    <h1>{{ title }}</h1>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <label for="name">Add Tasks: </label>
    <input type="text" id="name" />
    <button>Add</button>
    <div class="todo-item" *ngFor="let todo of todos">
      <span>ID: {{ todo.id }}</span>
      <span>Title: {{ todo.title }}</span>
      <span class="completed" *ngIf="todo.completed">Completed</span>
      <span *ngIf="!todo.completed">Not Completed</span>
    </div>
  </div>

 
  
  
  